<div class="container" *ngIf="productFormGroup">
    <div class="col-xs-12 offset-xl-2 col-xl-5">
        <h3>Update a product :</h3>
        <div class="row">
            {{ productFormGroup.value | json}}
        </div>
        <form [formGroup]="productFormGroup" (ngSubmit)="hundleSubmitEditProduct()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="name" placeholder="name"
                    [ngClass]="{'is-invalid' : submitted && productFormGroup.controls.name.errors}">
                <label for="name">Name</label>
                <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
                    <div *ngIf="productFormGroup.controls.name.errors.required"> Name is required

                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="price" placeholder="price">
                <label for="price">Price</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="quantity" placeholder="quantity">
                <label for="quantity">Quantity</label>
            </div>
            <div class="form-check mb-3 mt-3">
                <input class="form-check-input" type="checkbox" formControlName="selected" checked>
                <label class="form-check-label" for="selected">
                    Selected product ?
                </label>
            </div>

            <div class="form-check form-switch mb-3 mt-3">
                <input class="form-check-input" type="checkbox" id="available" formControlName="available" checked>
                <label class="form-check-label" for="available">This product is Available ? </label>
            </div>
            <button type="submit" class="btn btn-primary mb-3 mt-3">Save</button>
            <!-- <button type="submit" class="btn btn-primary mb-3 mt-3" [disabled]="productFormGroup.invalid">Save</button> -->

        </form>
    </div>
</div>