<tr [ngClass]="{'table-warning': product.quantity == 0,
                'table-danger': product.available == false
}">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td><span [ngClass]="{'fa fa-heart text-danger' : product.selected ==true
                            
    }"> </span></td>
    <td><span [ngClass]="{'fa fa-check text-success': product.available}"></span></td>
    <td>
        <div class="d-grid gap-2 mx-3">
            <button *ngIf="product.selected" class="btn btn-secondary" type="button"
                (click)="hundleClickSelectProduct(product)"> UnSelect
            </button>
            <button *ngIf="!product.selected" class="btn btn-warning" (click)="hundleClickSelectProduct(product)">
                Select
            </button>
        </div>

    </td>
    <td>
        <button class="btn btn-danger" (click)="hundleClickDelete(product)">
            <span class="fa fa-trash-o"></span>
        </button>
    </td>
    <td>
        <button class="btn btn-warning" (click)="hundleClickEdit(product)">
            <span class="fa fa-edit"></span>
        </button>
    </td>
</tr>